<% if entry.is_first_for_day? && !entry.is_first_of_all? %>
  <tr class="first-for-day">
    <td colspan="5">
      <%= entry.date.strftime("%b %e") %>
    </td>
  </tr>
<% end %>
<tr class="entry">
  <td class="col-sm-2"><b><%= number_with_precision(entry.minutes / 60.0, precision: 2)  %></b></td>
  <td class="col-sm-4"><%= entry.project.name unless entry.project.blank? %></td>
  <td class="col-sm-4"><%= entry.description %></td>
  <td class="col-sm-2">
    <%= link_to edit_entry_path(entry), :class => 'action edit' do %>
      <i class="glyphicon glyphicon-pencil edit-icon"></i>
    <% end %>
    <%= link_to entry, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'action delete' do %>
      <i class="glyphicon glyphicon-remove delete-icon"></i>
    <% end %>
  </td>
</tr>