<tr class="entry <%= 'running' if entry.started_at %>">
  <td class="col-xs-2">
    <% if entry.started_at %>
      <span id='clocking' data-starting-minutes='<%= entry.elapsed_time %>' %>
        <span id="runner"></span>
        <%= image_tag "clock-spinner.gif", :id => 'clock-icon' %>
      </span>
    <% else %>
      <b><%= number_with_precision((entry.minutes || 0) / 60.0, precision: 2)  %></b>
    <% end %>
  </td>
  <td class="col-xs-3"><%= entry.project.name unless entry.project.blank? %></td>
  <td class="col-xs-4"><%= entry.description %></td>
  <td class="col-xs-3">
    <%= link_to edit_entry_path(entry), :class => 'action edit' do %>
      <i class="glyphicon glyphicon-pencil edit-icon"></i>
    <% end %>
    <%= link_to entry, method: :delete, data: { confirm: 'Are you sure you want to DELETE this time entry?' }, :class => 'action delete' do %>
      <i class="glyphicon glyphicon-remove delete-icon"></i>
    <% end %>
    <% if entry.started_at %>
      <%= link_to stop_entry_path(entry), method: :put, remote: true, :class => 'btn btn-success action restart btn-sm' do %>
        <i class="glyphicon glyphicon-time"></i>
        Stop
      <% end %>
    <% else %>
      <%= link_to start_entry_path(entry), method: :put, remote: true, :class => 'btn btn-success action restart btn-sm' do %>
        <i class="glyphicon glyphicon-time"></i>
        Start
      <% end %>
    <% end %>
  </td>
</tr>