<div class="page-header">
  <%= link_to new_client_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Client
  <% end %>
  <h1>Clients</h1>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Client</th>
        <th>Contacts</th>
        <th>Active</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td>
            <%= client.name %>
            <br/>
            <%= simple_format(client.address) %>
          </td>
          <td></td>
          <td><%= client.active %></td>
          <td><%= link_to 'Add Contact', new_client_contact_path(client) %></td>
          <td><%= link_to 'Edit', edit_client_path(client) %></td>
          <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% client.contacts.each do |contact| %>
          <tr>
            <td>
            <td><%= full_name_and_email(contact) %></td>
            <td></td>
            <td></td>
            <td><%= link_to 'Edit', edit_client_contact_path(client, contact) %></td>
            <td><%= link_to 'Destroy', [client, contact], method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
