<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Timesheets", root_path, :class => 'navbar-brand' %>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "Reports", root_path %>
          </li>
          <li>
            <%= link_to "Invoices", root_path %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Pulse", root_path %>
          </li>          
          <li>
            <%= link_to "Journal", root_path %>
          </li>          
          <li>
            <%= link_to "Changes", page_path("changes") %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>